.envrc

node_modules/

nginx/sourcegraph.crt
nginx/sourcegraph.key

.vagrant
*.log
.env

/right.dhall

docker-compose/SSH
docker-compose/CURRENT_SG_BACKUP
docker-compose/Sourcegraph_backups/
docker-compose/docker-compose.yaml.mes_backup
